* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

.heading-container {
  background-color: aquamarine;
  height: 70px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: rgb(251, 251, 251);
  padding-top: 20px;
}

.container {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 20px;
  position: relative;
}
.vl {
  position: absolute;
  left: 50%;
  top: 90px;
  bottom: 30px;
  width: 6px;
  background-color: aquamarine;
}

@media screen and (max-width: 780px) {
  .vl {
    display: none; 
  }
}

@media screen and (min-width: 601px) and (max-width: 1024px) {
  .vl {
    left: 55%; 
  }
}


.left {
  flex: 1.5;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  margin-top: 80px;
  margin-left: 90px;
}


@media screen and (max-width: 600px) {
  .left {
    flex: 1; 
    margin-top: 20px; 
    margin-left: 0; 
  }
}
.row {
  display: flex;
  align-items: flex-start;
  gap: 10px;
}

label {
  margin-top: 10px;
  width: 100px;
  text-align: left;
}

input {
  margin-top: 10px;
  display: flex;
  border-radius: 10px;
  height: 2rem;
  width: 60%;

  padding: 0.1rem 2rem;
  font-size: small;
  color: gray;
  box-sizing: border-box;
}

.inputs {
  display: flex;
  flex-direction: column;
}

.label {
  margin-top: 10px;
}

.input-row {
  display: flex;
  align-items: center;
}

.input-row input {
  padding: 0.1rem 0.5rem;
  height: 20px;
}
.input-row input[type="radio"] {
  width: auto;
  margin-right: 5px;
  padding: 10px;
  transform: scale(1.2); 
}
.input-row:first-child input[type="radio"] {
  margin-left: 140px;
}

.input-row:not(:first-child) input[type="radio"] {
  margin-left: 140px;
  align-items: flex-start;
}

.input-row:first-child input[type="checkbox"] {
  margin-left: 120px;
}

.input-row:not(:first-child) input[type="checkbox"] {
  margin-left: 120px;
  align-items: flex-start;
}

.buttons {
  display: flex;
  justify-content: center;
  padding: 0.5rem 1rem;
}

button {
  height: 35px;
  width: 20vh;
  margin-top: 18px;
  border-radius: 10px;
  color: white;
  border: none;
  cursor: pointer;
  padding: 0.5rem 1rem;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-weight: bold;
}

.enroll {
  background-color: rgb(94, 94, 243);
  margin-right: 10px;
}

.clear {
  background-color: red;
  margin-left: 10px;
}

.right {
  flex: 1;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

h3 {
  margin-top: 20px;
  align-items: center;
  color: rgb(53, 252, 185);
  font-size: 30px;
  font-weight: bold;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 35px;
}

th,
td {
  padding: 8px;
  text-align: left;
  border: 1px solid #06cbbb;
}

th {
  text-align: center;
  color: rgb(91, 92, 92);
  background-color: rgb(174, 254, 229);
}

tr:hover {
  background-color: rgb(209, 252, 239);
}

.image-cell {
  text-align: center;
}



@media screen and (max-width: 600px) {
  .left {
    margin-top: 20px; 
    margin-left: 0; 
  }

  .row {
    flex-direction: column; 
  }

  label {
    width: 100%;
  }

  input {
    width: 100%; 
  }
  .input-row:first-child {
    margin-left: 0px;
    
  }

  .input-row:not(:first-child) {
    margin-left: 0; 
   
  }

  .buttons {
    flex-direction: column; 
    align-items: center;
  }

  button {
    width: 100%; 
    margin-top: 10px;
  }

  .right {
    margin-top: 20px; 
  }
}
